<a href="https://colab.research.google.com/github/gkakani1/GOUTHAM-DATA606/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#

In [169]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [170]:
import glob

In [171]:
import pandas as pd

In [172]:
path = "/content/drive/MyDrive/Capstone/Datasets/Vegtables/"

In [173]:
files = glob.glob(path+"*")

In [174]:
print(files)

['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid', '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local']

In [175]:
len(files)

10

In [176]:
xlsx_files= []

In [177]:
for i in range(0,10):
  file1 = glob.glob(files[i]+"/*")
  xlsx_files.append(file1)

In [178]:
len(xlsx_files)

10

In [180]:
for i in range(0,len(xlsx_files)):
  print(len(xlsx_files[i]))

11
11
11
11
11
11
11
11
11
11

In [183]:
xlsx_files

[['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2011.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2012.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/Bg 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Bitter Gourd/BG 2021.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2021.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2012.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2011.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Brinjal/BR 2013.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/cb 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2012.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2011.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cabbage/CB 2021.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2021.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2012.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Cauliflower/CF 2011.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2021.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2011.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2012.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Green Chillies/GC 2017.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2011.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2021.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Okra/OK 2012.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2021.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2012.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Onion/ON 2011.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2021.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2011.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2012.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Peas/PS 2018.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2021.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2011.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Hybrid/TH 2012.xls.xlsx'],
 ['/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2021.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2020.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2013.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2018.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2015.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2017.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2014.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2011.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2019.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2016.xls.xlsx',
  '/content/drive/MyDrive/Capstone/Datasets/Vegtables/Tomato Local/TL 2012.xls.xlsx']]

In [218]:
df1  = pd.read_excel(xlsx_files[0][0])

In [219]:
df1

   Report Name : Monthwise Annual Price & Arrival Report  ...    Unnamed: 37
0                           Current Date : 07/02/2022     ...            NaN
1                                Selected Year : 2011     ...            NaN
2                          Crop Category : VEGETABLES     ...            NaN
3                            Crop Name : BITTER GOURD     ...            NaN
4                         Variety Name : BITTER GOURD     ...            NaN
5                                                 NaN     ...            NaN
6                                                 NaN     ...            NaN
7                                               S.No.     ...  Total Arrival
8                                                   1     ...              0
9                                                   2     ...              0
10                                                  3     ...             87
11                                                  4     ...              0
12                                                  5     ...            151
13                                                  6     ...            109
14                                                  7     ...              0
15                                                  8     ...            571
16                                                  9     ...             22
17                                                 10     ...           1199
18                                                 11     ...             23
19                                                 12     ...              0
20                                                 13     ...            898
21                                                 14     ...              0
22                                                 15     ...             66
23                                                 16     ...             94
24                                                 17     ...              0
25                                                 18     ...            444
26                                                 19     ...            149
27                                                 20     ...            370
28                                                 21     ...             71
29                                                 22     ...           1156
30                                                 23     ...             31
31                                                 24     ...            509
32                                                 25     ...              0
33                                                 26     ...              0
34                                                 27     ...             21

[35 rows x 38 columns]

In [224]:
list_row = []
list_col = []

for i in range(0,10):
  list_row1 = []
  list_col1 = []
  for j in range(0,11):
    df2 = pd.read_excel(xlsx_files[i][j])

    list_row1.append(len(df2))
    list_col1.append(len(df2.columns))
    
  list_row.append(list_row1)
  list_col.append(list_col1)

In [225]:
list_row

[[35, 35, 33, 33, 32, 32, 36, 35, 29, 34, 30],
 [25, 27, 29, 29, 29, 25, 28, 28, 29, 29, 28],
 [37, 36, 36, 37, 35, 34, 25, 25, 35, 25, 32],
 [32, 37, 37, 36, 36, 34, 35, 35, 35, 36, 35],
 [34, 34, 35, 37, 36, 37, 32, 35, 35, 36, 36],
 [36, 32, 36, 31, 35, 34, 36, 33, 36, 33, 35],
 [32, 37, 37, 38, 37, 37, 37, 37, 38, 36, 37],
 [33, 32, 31, 31, 31, 27, 32, 34, 32, 36, 35],
 [33, 35, 35, 38, 36, 36, 38, 35, 38, 36, 37],
 [24, 24, 26, 27, 29, 28, 30, 31, 25, 29, 29]]

In [227]:
max1 = 0
for l in list_row:
  max1 = max(max1,max(l))

In [228]:
max1

38

In [226]:
list_col

[[38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38],
 [38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38]]

In [216]:
max(list_col)

38

In [261]:
list_states = []
for i in range(0,10):
  for j in range(0,11):
    df3 = pd.read_excel(xlsx_files[i][j])
    for a in list(df3['Unnamed: 1']):
      if a not in list_states:
        list_states.append(a)

In [262]:
list_states

[nan,
 'Center Name',
 'AHMEDABAD / अहमदाबाद',
 'AMRITSAR / अमृतसर',
 'BANGALURU / बेंगलुरू',
 'BARAUT / बड़ौत',
 'BHOPAL / भोपाल',
 'BHUBANESHWAR / भुबनेश्वर',
 'CHANDIGARH / चंडीगढ़',
 'CHENNAI / चेन्नई',
 'DEHRADUN / देहरादून',
 'DELHI / दिल्ली',
 'GANGATOK / गंगटोक',
 'GUWAHATI / गुवाहाटी',
 'HYDERABAD / हैदराबाद',
 'JAIPUR / जयपुर',
 'JAMMU / जम्मू',
 'KOLKATA / कोलकाता',
 'LUCKNOW / लखनऊ',
 'MUMBAI / मुंबई',
 'NAGPUR / नागपुर',
 'NASIK / नाशिक',
 'PATNA / पटना',
 'PUNE / पुणे',
 'RAIPUR / रायपुर',
 'RANCHI / रांची',
 'SHIMLA / शिमला',
 'SRINAGAR / श्रीनगर',
 'TRIVENDRUM / त्रिवेन्द्रम',
 'PIMPALGAON / पिंपलगाँव',
 'VARANASI / वाराणसी',
 'VIJAYAWADA / विजयवाड़ा',
 'AHMEDABAD / à¤…à¤¹à¤®à¤¦à¤¾à¤¬à¤¾à¤¦',
 'BHOPAL / à¤\xadà¥‹à¤ªà¤¾à¤²',
 'BHUBANESHWAR / à¤\xadà¥\x81à¤¬à¤¨à¥‡à¤¶à¥\x8dà¤µà¤°',
 'CHENNAI / à¤šà¥‡à¤¨à¥\x8dà¤¨à¤ˆ',
 'DELHI / à¤¦à¤¿à¤²à¥\x8dà¤²à¥€',
 'GANGATOK / à¤—à¤‚à¤—à¤Ÿà¥‹à¤•',
 'GUWAHATI / à¤—à¥\x81à¤µà¤¾à¤¹à¤¾à¤Ÿà¥€',
 'HYDERABAD / à¤¹à¥ˆà¤¦à¤°à¤¾à¤¬à¤¾à¤¦',
 'JAMMU / à¤œà¤®à¥\x8dà¤®à¥‚',
 'KOLKATA / à¤•à¥‹à¤²à¤•à¤¾à¤¤à¤¾',
 'MUMBAI / à¤®à¥\x81à¤‚à¤¬à¤ˆ',
 'RAIPUR / à¤°à¤¾à¤¯à¤ªà¥\x81à¤°',
 'RANCHI / à¤°à¤¾à¤‚à¤šà¥€',
 'SHIMLA / à¤¶à¤¿à¤®à¤²à¤¾',
 'SRINAGAR / à¤¶à¥\x8dà¤°à¥€à¤¨à¤—à¤°',
 'TRIVENDRUM / à¤¤à¥\x8dà¤°à¤¿à¤µà¥‡à¤¨à¥\x8dà¤¦à¥\x8dà¤°à¤®',
 'VIJAYAWADA / à¤µà¤¿à¤œà¤¯à¤µà¤¾à¥œà¤¾',
 'LASALGAON / लसलगाँव',
 'BANGALURU / à¤¬à¥‡à¤‚à¤—à¤²à¥\x81à¤°à¥‚',
 'LUCKNOW / à¤²à¤–à¤¨à¤Š',
 'NAGPUR / à¤¨à¤¾à¤—à¤ªà¥\x81à¤°',
 'PATNA / à¤ªà¤Ÿà¤¨à¤¾',
 'VARANASI / à¤µà¤¾à¤°à¤¾à¤£à¤¸à¥€']

In [263]:
len(list_states)

55

In [281]:
df_original = pd.DataFrame()
for i in range(0,10):
  for j in range(0,11):
    df_i = pd.read_excel(xlsx_files[i][j])
    df_original = df_original.append(df_i, ignore_index = True)

     Report Name : Monthwise Annual Price & Arrival Report  ... Unnamed: 37
0                             Current Date : 07/02/2022     ...         NaN
1                                  Selected Year : 2011     ...         NaN
2                            Crop Category : VEGETABLES     ...         NaN
3                              Crop Name : BITTER GOURD     ...         NaN
4                           Variety Name : BITTER GOURD     ...         NaN
...                                                 ...     ...         ...
3630                                                 17     ...        3770
3631                                                 18     ...          30
3632                                                 19     ...           0
3633                                                 20     ...         718
3634                                                 21     ...           0

[3635 rows x 38 columns]

In [285]:
df_i

   Report Name : Monthwise Annual Price & Arrival Report  ...    Unnamed: 37
0                           Current Date : 07/02/2022     ...            NaN
1                                Selected Year : 2012     ...            NaN
2                          Crop Category : VEGETABLES     ...            NaN
3                                  Crop Name : TOMATO     ...            NaN
4                         Variety Name : TOMATO LOCAL     ...            NaN
5                                                 NaN     ...            NaN
6                                                 NaN     ...            NaN
7                                               S.No.     ...  Total Arrival
8                                                   1     ...              0
9                                                   2     ...              0
10                                                  3     ...             54
11                                                  4     ...           3527
12                                                  5     ...              0
13                                                  6     ...              0
14                                                  7     ...           6220
15                                                  8     ...             40
16                                                  9     ...             40
17                                                 10     ...           6318
18                                                 11     ...              0
19                                                 12     ...            308
20                                                 13     ...           2598
21                                                 14     ...              0
22                                                 15     ...           1860
23                                                 16     ...              0
24                                                 17     ...           3770
25                                                 18     ...             30
26                                                 19     ...              0
27                                                 20     ...            718
28                                                 21     ...              0

[29 rows x 38 columns]

In [288]:
df_i.iat[1,0]

'Selected Year : 2012'

In [440]:
df_sam = pd.read_excel(xlsx_files[0][0])

In [441]:

year = df_sam.iat[1,0]
df_sam.insert(38, "Year", year[-4:])
Crop_variety = df_sam.iat[4,0]
df_sam.insert(38, "Crop", Crop_variety[14:])

In [442]:
df_sam1 = df_sam.iloc[6:,:,]

In [490]:
#df_sam1

In [444]:
len(df_sam1.columns)

40

In [445]:
list1 = [0,1,2,38,39]
for i in range(1,12):
  list1.append(((i)*(3))+2)
list2 = list(range(0,40))

In [491]:
#list2

In [447]:
for i in list1:
  if i in list2:
    list2.remove(i)

In [448]:
df_sam1 = df_sam1.drop(df_sam1.columns[list2],axis=1)

In [492]:
#df_sam1

In [450]:
len(df2)

29

In [471]:
head_list = df_sam1.iloc[1,0:2].values.tolist()

In [472]:
head_list

['S.No.', 'Center Name']

In [466]:
list2 = df_sam1.iloc[0,2:14].values.tolist()

In [467]:
list2

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [468]:
list2 = ["Price in "+x for x in list2]

In [473]:
head_list = head_list + list2

In [474]:
head_list

['S.No.',
 'Center Name',
 'Price in January',
 'Price in February',
 'Price in March',
 'Price in April',
 'Price in May',
 'Price in June',
 'Price in July',
 'Price in August',
 'Price in September',
 'Price in October',
 'Price in November',
 'Price in December']

In [478]:
head_list = head_list + df_sam1.columns.values.tolist()[-2:]

In [479]:
head_list

['S.No.',
 'Center Name',
 'Price in January',
 'Price in February',
 'Price in March',
 'Price in April',
 'Price in May',
 'Price in June',
 'Price in July',
 'Price in August',
 'Price in September',
 'Price in October',
 'Price in November',
 'Price in December',
 'Crop',
 'Year']

In [480]:
df_sam1.columns = head_list

In [493]:
#df_sam1

In [487]:
df_sam1 = df_sam1.drop(labels=[6,7],axis = 0)

In [488]:
df_sam1= df_sam1.reset_index(drop= True)

In [494]:
#df_sam1

In [504]:
df_final = pd.DataFrame()
list1 = [0,1,2,38,39]
for i in range(1,12):
  list1.append(((i)*(3))+2)
list_rem = list(range(0,40))
for i in list1:
  if i in list_rem:
    list_rem.remove(i)
for i in range(0,10):
  for j in range(0,11):
    df_i = pd.read_excel(xlsx_files[i][j])
    year = df_i.iat[1,0]
    df_i.insert(38, "Year", year[-4:])
    Crop_variety = df_i.iat[4,0]
    df_i.insert(38, "Crop", Crop_variety[14:])
    df_i = df_i.iloc[6:,:,]
    df_i = df_i.drop(df_i.columns[list_rem],axis=1)
    head_list = df_i.iloc[1,0:2].values.tolist()
    list2 = df_i.iloc[0,2:14].values.tolist()
    list2 = ["Price in "+x for x in list2]
    head_list = head_list + list2
    head_list = head_list + df_i.columns.values.tolist()[-2:]
    df_i.columns = head_list
    df_i = df_i.drop(labels=[6,7],axis = 0)
    df_i= df_i.reset_index(drop= True)
    df_final = df_final.append(df_i, ignore_index = True)

In [505]:
df_final

     S.No.                Center Name  ...           Crop  Year
0        1       AHMEDABAD / अहमदाबाद  ...   BITTER GOURD  2011
1        2          AMRITSAR / अमृतसर  ...   BITTER GOURD  2011
2        3       BANGALURU / बेंगलुरू  ...   BITTER GOURD  2011
3        4              BARAUT / बड़ौत  ...   BITTER GOURD  2011
4        5             BHOPAL / भोपाल  ...   BITTER GOURD  2011
...    ...                        ...  ...            ...   ...
2750    17               PATNA / पटना  ...   TOMATO LOCAL  2012
2751    18                PUNE / पुणे  ...   TOMATO LOCAL  2012
2752    19            RAIPUR / रायपुर  ...   TOMATO LOCAL  2012
2753    20             RANCHI / रांची  ...   TOMATO LOCAL  2012
2754    21  TRIVENDRUM / त्रिवेन्द्रम  ...   TOMATO LOCAL  2012

[2755 rows x 16 columns]